<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
<h2>Database Results</h2>

<ul>
    <li>msisdn - phone - messageid - message - keyword - time</li>
    <% results.forEach(function(r) { %>
        <li><%= r.msisdn %> - <%= r.phone %> - <%= r.messageid %> - <%= r.message %> - <%= r.keyword %> - <%= r.time %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
